.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-gray-light-2);
  box-shadow: var(--shadow-dark);
}

.header {
  height: 7rem;
  font-size: 1.4rem;
  background-color: #fff;
  border-bottom: var(--color-gray-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-dark-1);
  flex: 0 0 18%; // flex-grow flex-shrink flex-base
}

.hotel-view {
  background-color: #fff;
  flex: 1; // take the remaining space
}
